@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
   
}

header{
    background-color: black;
width: 100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px;



}

.logo{
    text-decoration: none;
    color: rgba(10, 126, 126, 0.616);
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 500px;
}

.navaction a{
    text-decoration: none;
color:rgba(10, 126, 126, 0.616);
font-size: 1.1em;
font-weight: 500px;
padding-left: 30px;
}
.navaction  a:hover{
    color: cyan;

}

 



section{
    padding: 100px;
}

.main{
    width: 100%;
    min-height: 100vh;
display: flex;
align-items: center;
background: url(images/1.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;

}


.main h2{
    color: rgb(233, 215, 215);
    font-size: 1.4em;
    font-weight: 500px;
}

.main h2 span{
    display: inline-block;
   color:lavenderblush;
   font-size: 2em;
   font-weight: 500;
   
   margin-top: 10px;
}
.main h3{
    color:floralwhite;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;

}
 .but{
    text-decoration: none;
    color:honeydew;
    background-color: darkslategray;
    font-size: 1.1em;
    font-weight: 600;
    display:inline-block;
    padding: 0.9357em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.8s ease;

}
.but:hover{
    background-color:cyan;
    transform: scale(1.1);
}
.icon a{
color :rgb(176, 251, 251);
font-size: 1.5em;
padding-right: 20px;
transition: 0.1s ease;
}
.icon a :hover{
    transform: translateY(-30px);
}
.s{
    display: flex;
    justify-content: center;
    color:rgb(92, 50, 10);
    font-size: 2em;
    font-weight: 500;
    margin-top: 30px;
}
.te{
    display: flex;
    justify-content: center;
    color:rgb(33, 0, 63);
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 30px;

}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
  
    align-items: center;
    justify-content: center;
    background-color:rgb(96, 216, 170);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/15%);
    border-radius: 10px;
    padding: 25px;
    margin: 30px;
    transition: 0.7s ease;
}

.card:hover{
    transform: scale(1.1);
}
.icons{
    color:black;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
    background-color:cornsilk;
    border-radius: 20px;
    visibility: hidden;
    
    
    
}
.info:hover {
 color:darkorchid;
 visibility: visible;
 
}
.info h3{
    color:black;
    font-size: 2.2em;
    font-weight: 500;

    margin: 10px;
    visibility: visible;
}

.proj{
    background-color:rgb(172, 219, 241);
   
}

  

.projcard{
    background-color: white;
    border: 3px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    


}

.projcard:hover{
    transform: scale(1.1);

}
.proimage img{

   
    width: 100%;

}

.projinfo{
    padding: 1em;
}
.pp{
    font-size: 0.8em;
color: black;
}
.protitle{
   
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
    padding: 2px;
    
   

}
.more{
    text-decoration: none;
    color: blue;

}
.more:hover{
    color: rgb(125, 243, 101);
}


.end{
   background-color: rgb(76, 123, 144);
}
.custom-shape-divider-bottom-1646739363{
    background-color: rgb(5, 53, 53);
    top: 20px;
    margin: 3px;

  }




.mm{
   
background-color: rgba(194, 246, 248, 0.774);
font-size: 20;
margin-bottom: 40px;
margin-top: 10px; ;
padding: 20px 15px;
font-size: 1em;
}
.t{
    display: flex;
    justify-content: center;
    
}
h1.kkkk{
    background-color:rgba(169, 169, 169, 0.65);
text-align: right;
padding-right: 25px;

}
h1.oooo{
    background-color:rgb(72, 163, 216);
    text-align: right;
    padding-right: 25px;
  

}
.lll{
    text-align:left;
font-size: 1em;
padding-left: 20px;


}
.lll a
{
    text-decoration: none;
    
}
.lll a:hover{
    color:green;
  
}
.cards a{
    color: white;
    font-size: 2em;
    background-color: rgb(4, 97, 71);
    border-radius: 60px;
    padding-bottom: 15px;
    text-decoration: none;
}
@media (max-width:1023px)
{
    header{
        padding: 2px 2px;
    }
    .logo{
        font-size: 1em;
        font-weight: 100px;
       }
       section{
        padding: 15px;
    }
    .main h2{
        font-size: 1.3em;
        font-weight: 200px;
    }
    .main h2 span{
      
       font-size: 1.1em;
       font-weight: 200;
       
       margin-top: 10px;
    }
    .main h3{
       
        font-size: 1.2em;
        font-weight: 200;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 30px;
}
.main h3{
    
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;

}
.card{
  
  
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/15%);
    border-radius: 10px;
    padding: 25px;
    margin: 30px;
    transition: 0.7s ease;
}
.projcard{
    
    min-height: 10em;
    width: 15em;
    
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

}
@media(max-width:640px)
{
    .navaction{
        padding-right: 6px;
    }
    header{
        padding:2px 2px;
     
        font-size: 0.6em;
        padding-right: 4px;
    }
    .logo{
        font-size: 1em;
        font-weight: 100px;
        padding-left: 6px;
       }
       section{
        padding: 15px;
    }
    .main h2{
        font-size: 1.3em;
        font-weight: 200px;
    }
    .info h3{
        font-size: 1.3em;

    }
    .main h2 span{
      
       font-size: 1.1em;
       font-weight: 200;
       
       margin-top: 10px;
    }
    .main h3{
       
        font-size: 1em;
        font-weight: 200;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 30px;
}

.card{
  
  
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/15%);
    border-radius: 10px;
    padding: 25px;
    margin: 30px;
    transition: 0.7s ease;
}
.projcard{
    
    min-height: 10em;
    width: 15em;
    
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

}
@media(max-width :300px)
{
    header{
        padding: 1px 1px;
    }
    .logo{
        font-size: 0.7em;
        font-weight: 10px;
       }
       section{
        padding: 5px;
    }

    .main{
        width: 100%;
        min-height: 45vh;
    
    background: url(../images/1.jpg);
    background-size:contain;
    background: position 2px;;
   





    
    }
.but{
font-size: 0.5em;
}
.kkkk{
    font-size: 1em;
    padding-top: 1px;
    padding-bottom: 1px;
}
.oooo{
    font-size: 1em;
    padding-top: 1px;
    padding-bottom: 1px;
}

    .main h2{
        font-size: 1.3em;
        font-weight: 20px;
        padding-top: 11px;
    }
    .main h2 span{
      
       font-size: 0.8em;
       font-weight: 20;
       
       margin-top: 10px;
    }
    .main h3{
       
        font-size: 1.1em;
        font-weight: 20;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 30px;
}
.main h3{
    
    font-size: 0.8em;
    font-weight: 20;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;

}
.card{
  
  
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/15%);
    border-radius: 10px;
    padding: 25px;
    margin: 30px;
    transition: 0.7s ease;
}
.projcard{
    
    min-height: 10em;
    width: 15em;
    
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
}
h2{
    color: aliceblue;
    text-align: center;
    justify-self: center;
background-color: rgb(2, 56, 56);
}
